
<meta name ="viewport" content="width= device-width">
<link rel="stylesheet" href="../bootstrap/css/estiloBarra.css" rel="stylesheet" type ="text/css">
<link rel="stylesheet" href="/css/estiloheader.css" MEDIA=screen>
<div">
  <div class="contenedor">
    <div style="width:20%;  float:right;">
      <img src="imagenes/usac logo.png" width="395px" height="395px">
    </div>
    <div class="objeto" style="width:80%; float:left;">
      <h3 style="border-bottom: 60px;" class="tutulo2"> TRADUCTOR </h3>
      <h1 style="padding-top: 80px;" class="tutulo1"> C# A Pyton</h1>
      <p></p>
    </div>
  <div style="padding-top: 370px;"> 
    <nav>
    <div class="navbar1">
       <a href="">Inicio</a>
       <div class="dropdown3">
           <button class="dropbtn3">Archivo 
               <i class="fa fa-caret-down"></i>
           </button>
           <div class="dropdown-content1">
               <a onclick="archivoNuevo()" id = "nuevoArchivo">Nuevo</a>
               <a>Abrir <input id="abrir" type="file" name="file" accept=".cs" required></input></a>
               <a onclick="guardarDoc()">Guardar </a>
               <a >Guardar Como </a>
           </div>
       </div>
       <div class="dropdown3">
           <button class="dropbtn3">Reportes
               <i class="fa fa-caret-down"></i>
           </button>
           <div class="dropdown-content1">
               <a>Salida Pyton</a>
               <a onclick="llenarTablaHtmlJson()" id='generarHtml'>Salida Html</a>
               <a onclick="llenarTablaErrores()" id= 'erroresDoc'>Errores</a>
           </div>
       </div>
   </div>
</nav></div>
  </div>
</div>