<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/estiloPesta;as.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body style="background-color: #D9FFF9">

  <%- include ( "bloque/portada.html") %>
  <div style="padding-top:80px;">
    <div style="align-content: center; padding-right: 20%; padding-left: 20%;">
      <div>
        <div class="tab" id="pestP">
        </div>
        <div id="txtContent">
          <!-- Tab content -->
        </div>
      </div>
      <div style="padding-left: 45%;">
        <button type="button" class="btn btn-primary btn-lg" id="enviar">Analizar</button>
      </div>
    </div>
    <div style="width: 100%; padding-top: 20px;">
      <div style="width:48%; padding-left: 5%; float:left;">
        <h2 style="background-color: rgb(8, 49, 68); color:white">Codigo Python</h2>
        <textarea style="width: 100%; height: 400px; font-size: 20px;" id="codigoAnalizar" readonly>
      </textarea>
      </div>
      <div style="width:48%; padding-right: 5%; float:right;">
        <h2 style="background-color: rgb(8, 49, 68); color:white">Codigo HTML Y Json</h2>

        <section id="main">
          <div id="tabs">
            <span class="diana" id="uno"></span>
            <a href="#uno" class="tab-e">Html</a>
            <span class="diana" id="dos"></span>
            <a href="#dos" class="tab-e">Json</a>
            <div id="pnl_1">
              <div style="background-color: #fff;height: 361px;">
                <p id="textoHtml"></p>
              </div>
            </div>
            <div id="pnl_2">
              <div style="background-color: #fff;height: 361px;">
                <p id="textoJson"></p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div style="padding-right: 10%; padding-left: 10%; " id="divTabla">
        <table class="table table-bordered" id="tablaVariables">
          <thead class="table-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col"class="text-center">tipo</th>
              <th scope="col" class="text-center">Linea</th>
            </tr>
          </thead>
          <tbody style="background-color: white;">
            <tr>
              <td scope="row">1</td>
              <td>Nissan</td>
              <td>Qasqai</td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td>Seat</td>
              <td>Ibiza</td>
            </tr>
            <tr>
              <td scope="row">3</td>
              <td>Citroen</td>
              <td>Saxo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div style="height: 400px;">
    <div id="jstree">
    </div>
    
  </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../script/InsertarArchivo.js"> </script>
<script src="../script/scriptPest.js"></script>

</html>